html,
body {
  background-color: #31bae7;
  font-family: 'Cabin', serif;
}

h2 {
  text-transform: uppercase;
}

.strikeThrough {
  text-decoration: line-through;
}

.btnColour {
  background-color: #31e78c;
}
