html,
body {
  background-color: #31bae7;
  font-family: 'Cabin', serif;
  margin: 10px;
}

main {
  padding-top: 30px;
}

label,
th {
  text-transform: uppercase;
}

.strikeThrough {
  text-decoration: line-through;
}

.btnColour {
  background-color: #31e78c;
}

.inputArea {
  margin: 10px;
}

table {
  margin: 10px;
}

.taskInput {
  width: 300px;
}
